# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.classpath
.idea
.project
.settings
*.iml

out
bin

.idea
gradle

src/test/resources/qualtrix-key.json
qualtrix-key.json
